

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #050505;

    color: #00ff9d;

    font-family: "Courier New", monospace;
}




.terminal {
    width: 90%;
    max-width: 750px;

    background: #0b0b0b;

    border: 1px solid #00ff9d;

    box-shadow:
        0 0 15px rgba(0, 255, 157, 0.25);

    border-radius: 8px;

    overflow: hidden;
}




.terminal-header {
    height: 45px;

    display: flex;
    align-items: center;

    padding: 0 15px;

    background: #111;

    border-bottom: 1px solid #00ff9d;
}

.buttons {
    display: flex;
    gap: 7px;
}

.buttons span {
    width: 12px;
    height: 12px;

    border-radius: 50%;

    display: block;
}

.red {
    background: #ff5f56;
}

.yellow {
    background: #ffbd2e;
}

.green {
    background: #27c93f;
}

.title {
    margin-left: 20px;

    font-size: 14px;

    color: #aaa;
}




.terminal-content {
    padding: 35px;

    min-height: 430px;

    font-size: 15px;

    line-height: 1.7;
}




#messages p {
    margin: 5px 0;
}




.progress-container {
    width: 100%;

    height: 18px;

    margin-top: 30px;

    border: 1px solid #00ff9d;

    padding: 2px;
}

#progress {
    width: 0%;

    height: 100%;

    background: #00ff9d;

    transition: width 0.1s linear;
}

#percentage {
    text-align: right;

    margin-top: 5px;

    font-size: 13px;
}




.hidden {
    display: none;
}

#final-message {
    margin-top: 30px;

    text-align: center;
}

#final-message h1 {
    font-size: 25px;

    text-shadow:
        0 0 10px #00ff9d;
}




button {
    margin-top: 25px;

    padding: 12px 25px;

    background: transparent;

    border: 1px solid #00ff9d;

    color: #00ff9d;

    font-family: "Courier New", monospace;

    font-size: 15px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: #00ff9d;

    color: #050505;

    box-shadow:
        0 0 15px #00ff9d;
}




#secret-message {
    margin-top: 40px;

    text-align: center;
}

.big-text {
    font-size: 20px;

    text-shadow:
        0 0 8px #00ff9d;
}

.cursor {
    animation: blink 1s infinite;
}



@keyframes blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
